@import '../../node_modules/open-color/open-color.scss';

.mn-checkbox {
  position: relative;
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 2.5em;
  display: inline-block;
  z-index: 0;
  outline: none;
  width: 1.4em;
  height: 1.4em;
  padding: 2px;
  margin: 2px;
  -webkit-user-select: none;

  --color: $oc-gray-7;

  label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
  }

  input {
    opacity: 0;
    pointer-events: none;
  }

  .input {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 2px solid var(--color);
    position: relative;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: transparent;
    transition: background .2s ease;

    svg {
      position: absolute;
      width: 100%;
      height: 100%;

      polyline {
        stroke-dasharray: 25;
        stroke-dashoffset: -25;
        transition: stroke-dashoffset .1s ease;
        stroke: $oc-gray-1;
        stroke-width: 3;
      }
    }
  }

  input:checked {
    & + .input {
      background-color: var(--color);
    }

    & + .input polyline {
      stroke-dashoffset: 0;
      transition: stroke-dashoffset .1s .1s cubic-bezier(.39,.56,.6,.06);
    }
  }
}

.mn-checkbox[disabled] {
  --color: $oc-gray-5;

  label {cursor: not-allowed;}
}

.mn-checkbox[readonly] {
  pointer-events: none;
  label {cursor: default;}
}

.mn-checkbox.invalid {
  --color: $oc-red-6;
}
