.mn-number {
  --currency-symbol: '$';

  &.invalid {
    &.min {--invalid-message: ' at least ' attr(min)}
    &.max {--invalid-message: ' maximum ' attr(max)}
  }
}

.mn-number[currency]:not([currency="false"]) {
  &:before {
    content: var(--currency-symbol);
    margin-right: .25em;
    color: var(--text-color);
  }
}

.mn-number[currency]:not([currency="false"]),
.mn-number[percentage]:not([percentage="false"]) {
  &:before {
    opacity: 0;
    pointer-events: none;
    z-index: 10;
  }

  &.has-value:before,
  &.focus:before {
    opacity: 1;
    transition: opacity .2s ease;
  }
}

.mn-number .mask {display: none}
.mn-number[percentage]:not([percentage="false"]) {
  .mask {
    display: block;
    position: absolute;
    left: 0;
    white-space: nowrap;
    right: 0;
    bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
    color: var(--text-color);
    line-height: 2em;
  }

  input {
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    -ms-text-fill-color: transparent;
  }
}
