extends ../../hotsite/template

block content
  nav.header
    a.logotype(href='/') minimalist
    a image


  .showcase.mn-layout-fullscreen.mn-layout-centered
    .demo.mn-layout-container
      h1 mn-image

      .mn-form.mn-layout-column.mn-layout-sm-row
        a: mn-image(src='https://switchtactics.com/wp-content/uploads/2017/12/Adventure-Time-Pirates-of-the-Enchiridion-box-art-Switch-1-600x400.jpg')
        a: mn-image(src='https://media0.giphy.com/media/OSWRJKmwUEOD6/giphy.gif')

  .docs.mn-layout-container
    section
      h2 install
      mn-code.
        npm install --save minimalist
      p and bundle it with your preferred tool.

    section
      h2 usage
      p in your html, you can use the tag <code>&lt;mn-image&gt;</code> with src attribute, e.g.

      mn-code.
        &lt;mn-image src="path/to/image"&gt;&lt;/mn-image&gt;

      p If you want a 3d perspective on mouse over, or focus (but only for desktop) just put the component inside a tag

      mn-code.
        &lt;a&gt;
          &lt;mn-image src="path/to/image"&gt;&lt;/mn-image&gt;
        &lt;/a&gt;
      a: mn-image(src='https://switchtactics.com/wp-content/uploads/2017/12/Adventure-Time-Pirates-of-the-Enchiridion-box-art-Switch-1-600x400.jpg')

    section
      h2 Attributes
      p The complete list of attributes supported is the following:

    style.
      mn-code + .mn-image, mn-code + a {
        max-width: 410px;
        width: 100%;
        margin: 1em 0;
        display: block;
      }

    section
      h3: a(name='src' href='image.html#src') src
      p The path relative/absolute to image

      mn-code.
        &lt;mn-image src="path/to/image"&gt;&lt;/mn-image&gt;
      mn-image(src='https://switchtactics.com/wp-content/uploads/2017/12/Adventure-Time-Pirates-of-the-Enchiridion-box-art-Switch-1-600x400.jpg')

    section
      h3: a(name='draggable' href='image.html#draggable') draggable
      p Allow to you enable/disable drag image. By default, draggable is enabled.

      mn-code.
        &lt;mn-image src="path/to/image" draggable='false'&gt;&lt;/mn-image&gt;
      mn-image(src='http://cfvod.kaltura.com/p/1745101/sp/174510100/thumbnail/entry_id/0_e6qs65db/version/100012/width/600/height/400' draggable='false')


    section
      h3: a(name='alt' href='image.html#alt') alt
      p Alternative text to be read by assistive tools, or when image not found.

      mn-code.
        &lt;mn-image src="path/to/image" alt='some text here'&gt;&lt;/mn-image&gt;
      mn-image(src='path/to/image' alt='some text here')

    section
      h3: a(name='title' href='image.html#title') title
      p Text to be displayed as title on hover (desktop), or under image (mobile)

      mn-code.
        &lt;mn-image src="path/to/image" title='some title here'&gt;&lt;/mn-image&gt;
      mn-image(src='https://ibdp.videovore.com/video/60541651?size=600x400' title='some title here')





