.showcase.mn-layout.mn-layout-fullscreen.mn-layout-centered
  main.demo
    //- mn-image(src='http://darlanmendonca.github.io/public/imgs/bb-bitch.gif')
    a: mn-image(src='http://darlanmendonca.github.io/public/imgs/cat.jpg')
