@import '../../node_modules/open-color/open-color.scss';

.mn-backdrop:before {
  --background-color: $oc-gray-9;
  --opacity: .6;
}

.mn-backdrop:before {
  content: '';
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 10;
  background-color: var(--background-color);
  transition: opacity .4s ease, visibility 0 .4s ease;
}

.mn-backdrop-visible:before {
  transition: opacity .4s ease;
  overflow: hidden;
  visibility: visible;
  opacity: var(--opacity);
}
