extends ../../hotsite/template

block content
  nav.header
    a.logotype(href='/') minimalist
    a input


  .showcase.mn-layout-fullscreen.mn-layout-centered
    .demo.mn-layout-container
      h1 mn-input

      .mn-form.mn-layout-column.mn-layout-sm-row
        mn-input.flex(placeholder='username')
        mn-input.flex(placeholder='firstname')
        mn-input.flex(placeholder='lastname')

  .docs.mn-layout-container
    section
      h2 install
      mn-code.
        npm install --save minimalist
      p and bundle it with your preferred tool.

    section
      h2 usage
      p in your html, you can use the tag <code>&lt;mn-input&gt;</code>, e.g.

      mn-code.
        &lt;mn-input&gt;&lt;/mn-input&gt;

    section
      h2 Attributes
      p The complete list of attributes supported is the following:

    section
      h3 placeholder
      p The title of input, indicate what content the user needs write.

      mn-code.
        &lt;mn-input placeholder="firstname"&gt;&lt;/mn-input&gt;
      .mn-card.padding
        mn-input(placeholder='firstname')

    section
      h3 name
      p The name is the identifier of input, used to interact with input in javascript

      mn-code.
        // html
        &lt;form id="test"&gt;
          &lt;mn-input placeholder="firstname" value="John" name="firstname"&gt;&lt;/mn-input&gt;
        &lt;/form&gt;

        // js
        console.log(test.firstname) // return the reference to input
        console.log(test.firstname.value) // return the value on input

        console.log(test.data) // will return

        {
          firstname: 'John',
        }
      .mn-card.padding
        mn-form#test: mn-input(placeholder='firstname' value='John' name='firstname')

    section
      h3 value
      p Used to set the initial value of mn-input, e.g.
      mn-code.
        &lt;mn-input value="John"&gt;&lt;/mn-input&gt;
      .mn-card.padding
        mn-input(value='John')

      mn-code.
        // you can use value as property in javascript, e.g.
        const input = document.querySelector('mn-input')
        input.value = 'John'
        console.log(input.value)

    section
      h3 autofocus
      p Used to automatically focus on input once time page opens.

      mn-code.
        &lt;mn-input autofocus&gt;&lt;/mn-input&gt;

    section
      h3 autocapitalize
      p Only for mobile, by default is off, but you can turn on like below

      mn-code.
        &lt;mn-input autocapitalize='on'&gt;&lt;/mn-input&gt;
      .mn-card.padding
        mn-input(autocapitalize placeholder='try edit it on mobile device')

    section
      h3 maxlength
      p Useful to limit characters on input, e.g.

      mn-code.
        &lt;mn-input maxlength='3'&gt;&lt;/mn-input&gt;
      .mn-card.padding
        mn-input(maxlength='3' value='abc' placeholder='try type anything')

    //- section
      h3 attribute name
      p description

      mn-code.
      .mn-card.padding

      //- h3 maxlength
      //- h3 pattern
      //- h3 readonly
      //- h3 required
      //- h3 disabled



