section.demo.mn-layout-container
  p Buttons can be flat, raised, or action. Inclusively, can be a merge of theses. See examples below

  .mn-layout-row.mn-layout-center
    mn-button flat button
    mn-button.raised raised button
    mn-button.action ×
    mn-button.action.raised ×

section.demo.mn-layout-container(ng-show='tab === "mn-layout"')
  p some mn-layout's here
