nav.components.mn-layout-container
  a(name='components')
  h2 Components
  a.mn-chip(href='#') button
  a.mn-chip(href='#') chip
  a.mn-chip(href='#') card
  a.mn-chip(href='#') dialog
  a.mn-chip(href='#') layout
  a.mn-chip(href='#') list
  a.mn-chip(href='#') sidenav

  h2 Forms
  a.mn-chip(href='#') form
  a.mn-chip(href='input.html') input
  a.mn-chip(href='#') password
  a.mn-chip(href='#') number
  a.mn-chip(href='#') email
  a.mn-chip(href='#') date
  a.mn-chip(href='#') checkbox
  a.mn-chip(href='#') radio
  a.mn-chip(href='#') hidden
  a.mn-chip(href='#') search
  a.mn-chip(href='#') select

