@import '../../webcomponents/input/input.style.scss';
@import '../../webcomponents/password/password.style.scss';

.mn-input {
  // font-size: 2em;
}

.mn-input {
  --selection-color: #BBDEFB;

  &.focus {
    --border-color: #2196F3;
    --placeholder-color: #42A5F5;
  }
}
