@import '../../node_modules/open-color/open-color.scss';

.mn-list {
  --color: $oc-gray-3;
  padding: 0;
  margin: 0;
  display: block;
  position: relative;

  .mn-item {
    padding: 1.6em 2em;
    box-sizing: border-box;
    border: 0;
    border-top: 1px solid var(--color);
    color: inherit;
    text-decoration: none;
    outline: 0;
    background: none;
    font-size: inherit;
    width: 100%;
    text-align: inherit;
    line-height: 1.4em;
    flex-wrap: wrap;
    transition: background-color .2s ease;

    &:first-child {border-top: 0}

    &.detail-visible {
      cursor: default;

      & > .mn-list {
        max-height: 1000px;
      }
    }
  }

  button.mn-item, a.mn-item, [ng-click].mn-item, .mn-item[collapse] {
    display: flex;
    cursor: pointer;

    &:last-child {
      border-bottom-left-radius: inherit;
      border-bottom-right-radius: inherit;
    }

    &:first-child {
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
    }

    &:not(.detail-visible) {
      &:hover, &:focus {
        background-color: $oc-gray-3;
      }
    }
  }

  // .mn-list.mn-list-hover {
  //   box-shadow: 0 0 0 3px $oc-gray-7;
  // }

  // &.mn-item-detail {
  //   &.half-open {
  //     min-height: 120px;
  //   }
  // }

  .mn-list {transform: translateY(1em)}
}

.mn-list .mn-list {
  display: block !important;
  flex: 0 1 100%;
  max-height: 0;
  overflow: hidden;
  transform: translateZ(0) translateY(1em);
  transition: max-height .3s ease;

  p {margin-bottom: 0}
}

.mn-list .mn-item[draggable] {
  cursor: move;
  transition: all .2s ease;

  &.gu-transit, &:active {
    // transform: scale(1.02);
    // box-shadow: rgba(0,0,0,.14902) 0 1px 1px;

    // opacity: 0.3;
    // background: inherit;
    background-color: $oc-gray-1;
  }

  &.gu-transit {
    color: transparent;

    * {
      opacity: 0;
    }
  }
}

.gu-mirror {
  position: fixed ;
  box-sizing: border-box;
  padding: 1.6em 2em;
  z-index: 9999;
  background: #dee2e6;
  opacity: 0.5;
}

.gu-hide {
  display: none !important;
}

.gu-unselectable {
  user-select: none !important;
}

.gu-transit {
  opacity: 1;
}

