@import '../../node_modules/open-color/open-color.scss';

.mn-list {
  --color: $oc-gray-3;
  padding: 0;
  margin: 0;
  display: block;

  .mn-item {
    padding: 1.6em 2em;
    box-sizing: border-box;
    border: 0;
    border-top: 1px solid var(--color);
    color: inherit;
    text-decoration: none;
    outline: 0;
    background: none;
    font-size: inherit;
    width: 100%;
    text-align: inherit;
    line-height: 1.4em;
    flex-wrap: wrap;
    transition: background-color .2s ease;

    &:first-child {border-top: 0}

    &.detail-visible {
      cursor: default;

      & > .mn-list {
        max-height: 1000px;
      }
    }
  }

  button.mn-item, a.mn-item, [ng-click].mn-item, .mn-item[collapse] {
    display: flex;
    cursor: pointer;

    &:not(.detail-visible) {
      &:hover, &:focus {
        background-color: $oc-gray-3;
      }
    }
  }

  .mn-list {transform: translateY(1em)}
}

.mn-list .mn-list {
  display: block !important;
  flex: 0 1 100%;
  max-height: 0;
  overflow: hidden;
  transform: translateZ(0) translateY(1em);
  transition: max-height .3s ease;

  p {margin-bottom: 0}
}


