.showcase.mn-layout.mn-layout-fullscreen.mn-layout-centered
  main.demo
    mn-button flat button
    mn-button.raised raised button
    mn-button.raised.primary custom raised
    //- mn-button.raised.action: i.zmdi.zmdi-edit
    //- mn-button.raised.action.warning: i.zmdi.zmdi-delete
