@import '../../node_modules/open-color/open-color.scss';

[multiple] {
  flex-wrap: wrap;
}

[multiple] .values {
  transform: translateY(.3em);
  margin-right: .2em;
}

[multiple] .value {
  line-height: 2em;
  --background-color: $oc-gray-7;
  --color: $oc-gray-2;
  transform: translateZ(0);

  font-size: .7em;
  color: var(--color);
  background-color: var(--background-color);
  padding: 0 1em;
  margin: .1em;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-align: center;
  border-radius: 1.2em;
  text-align: center;
  height: 2em;
  transform: translateY(5px);

  button{
    border: 0;
    background: none;
    transform: translate(.6em);
    cursor: pointer;
    outline: 0;

    &:before {
      transform: scale(1.5);
      display: block;
      text-align: center;
      font-family: arial, sans-serif;
      content: '×';
      color: var(--color)
    }
  }
}

.mn-select {
  --icon-color: $oc-gray-6;
  --option-background: $oc-gray-4;

  &:before {
    content: '';
    width: 0;
    height: 0;
    border-left: .35em solid transparent;
    border-right: .35em solid transparent;
    border-top: .35em solid var(--icon-color);
    z-index: -1;
    position: absolute;
    top: calc(50% + 0.1em);
    right: .25em;
    transform: translate(0, -50%);
  }

  menu {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    top: 0; left: 0;
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    @media (max-device-width: 767px) {
      display: none;
    }

    @media (min-device-width: 768px) {
      visibility: hidden;
      opacity: 0;
      max-height: 9em;
      position: absolute;
      top: 100%;
      left: 0;
      overflow: hidden;
      transition: opacity .2s ease;
    }
  }

  option {display: none}

  .option {
    padding: 0 1em;
    line-height: 3rem;
    transition: background-color .2s ease;
    cursor: pointer;
    -webkit-user-select: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: 0 !important;
    box-sizing: border-box;

    span {pointer-events: none}

    &.focus {
      background-color: var(--option-background);
    }

    &.hidden {display: none}
  }
}

mn-select option {
  display: none;
}

.mn-select.visible {
  z-index: 10;
  menu {
    @media (min-device-width: 768px) {
      opacity: 1;
      visibility: visible;
      overflow: auto;
    }
  }
}

.mn-select.invalid {
  --icon-color: --border-color;
}

.mn-select[disabled] {
  --icon-color: $oc-gray-5;
}

.mn-select.filtered {
  .char {
    transition: opacity .2s ease;
  }

  .char:not(.match) {
    opacity: .25;
  }
}
