.showcase.mn-layout.mn-layout-fullscreen.mn-layout-centered
  main.demo
    mn-button(show-sidenav='left') left sidenav
    mn-button(show-sidenav='right') right sidenav

mn-sidenav#left
  p lorem ipsum

mn-sidenav.right#right
  p lorem ipsum
