@import '../../node_modules/open-color/open-color.scss';

.mn-password {
  button {
    position: absolute;
    bottom: 0; right: 0;
    line-height: 2.5em;
    border: 0;
    background: none;
    text-transform: uppercase;
    font-size: .6em;
    color: $oc-gray-6;
    outline: 0;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    transition: color .2s ease, opacity .2s ease;

    &:hover {
      color: $oc-gray-8;
    }

    &:before {
      content: 'show'
    }
  }
}

@media (max-device-width: 1024px) {
  .mn-password .input:focus ~ button {
    visibility: visible;
    opacity: 1;
  }
}


.mn-password.show-password button {
  &:before {
    content: 'hide'
  }
}
