@import '../../node_modules/open-color/open-color.scss';

.mn-password {
  --button-color: $oc-gray-6;

  button {
    position: absolute;
    top: 0;
    bottom: 0; right: 0;
    border: 0;
    background: none;
    text-transform: uppercase;
    font-size: .6em;
    color: var(--button-color);
    outline: 0;
    visibility: hidden;
    opacity: 0;
    transition: color .2s ease, opacity .2s ease;

    &:before {
      content: 'show'
    }
  }

  &.show-password button:before {
    content: 'hide';
  }
}

@media (max-device-width: 1024px) {
  .mn-password .input:focus ~ button {
    visibility: visible;
    opacity: 1;
  }
}
