@import '../../node_modules/open-color/open-color.scss';

.mn-radio {
  position: relative;
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 2.5em;
  z-index: 0;
  outline: none;
  width: 1.4em;
  height: 1.4em;
  padding: 2px;
  margin: 2px;
  -webkit-user-select: none;

  --color: $oc-gray-7;

  label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
  }

  input {
    opacity: 0;
    position: absolute;
    pointer-events: none;
  }

  .input {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 2px solid var(--color);
    position: relative;
    border-radius: 50%;
    box-sizing: border-box;
    overflow: hidden;
    padding: 2px;
    // background-color: transparent;
    // transition: background .2s ease;

    &:before {
      content: '';
      // position: absolute;
      // top: 50%;
      // left: 50%;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: inherit;
      transform: scale(.25);
      opacity: 0;
      background-color: var(--color);
      transition: all .2s ease;
    }
  }

  input:checked {
    & + .input:before {
      opacity: 1;
      transform: scale(1);
      // background-color: var(--color);
    }
  }
}

.mn-radio[disabled] {
  --color: $oc-gray-5;

  label {cursor: not-allowed;}
}

.mn-radio[readonly] {
  pointer-events: none;
  label {cursor: default;}
}

.mn-radio.invalid {
  --color: $oc-red-6;
}
