@import '../../node_modules/open-color/open-color.scss';

.mn-input {
  position: relative;
  display: inline-block;
  margin-top: 1.5em;
  margin-bottom: 1em;
  transform: translateZ(0);
  overflow: visible !important;
  outline: 0 !important;
  max-width: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 2em;
  text-overflow: ellipsis;
  -webkit-user-select: none;

  .input {
    width: 100%;
    border: 0;
    outline: 0;
    line-height: inherit;
    font-size: 1em;
    box-sizing: border-box;
    padding: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: box-shadow .2s ease;
    text-overflow: inherit;
    background-color: transparent;
    color: var(--text-color, $oc-gray-9);
    box-shadow: 0 var(--border-width, 1px) 0 var(--border-color, $oc-gray-4);

    &::selection {
      background: var(--selection-color, $oc-gray-4);
    }

    &:focus {
      --border-width: 2px;
      --border-color: $oc-gray-8;
    }
  }

  .placeholder {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 1em;
    font-family: sans-serif;

    color: var(--placeholder-color, $oc-gray-6);
    transition: transform .2s ease, color .2s ease;
    transform-origin: left center;
    transform: translateZ(0);
    pointer-events: none;
  }

  &.has-value .placeholder,
  .input:focus:not([readonly]) ~ .placeholder {
    transform: translate(0, -1.3em) scale(.8) translateZ(0);
  }
}

.mn-input[disabled] {
  .input {
    cursor: not-allowed;
    --border-color: $oc-gray-3;
    --text-color: $oc-gray-6;
  }

  .placeholder {
    --placeholder-color: $oc-gray-5;

    &:after {
      content: ' disabled';
    }
  }
}

.mn-input.invalid {
  --placeholder-color: $oc-red-7;

  .input {
    --border-color: $oc-red-5;
  }

  .placeholder:after {
    content: var(--invalid-message, ' is invalid');
  }

  &.required {--invalid-message: ' is required'}
}
