@import '../../node_modules/open-color/open-color.scss';

.mn-input {
  position: relative;
  display: flex;
  margin-top: 1.5em;
  margin-bottom: 1em;
  transform: translateZ(0);
  overflow: visible !important;
  outline: 0 !important;
  max-width: 100%;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  line-height: 2em;
  text-overflow: ellipsis;
  -webkit-user-select: none;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;

  --text-color: $oc-gray-9;
  --selection-color: $oc-gray-4;
  --border-width: 1px;
  --border-color: $oc-gray-4;
  --placeholder-color: $oc-gray-6;
  --invalid-message: ' is invalid';

  .input {
    flex: 1;
    border: 0;
    outline: 0;
    line-height: inherit;
    font-size: 1em;
    box-sizing: border-box;
    padding: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-overflow: inherit;
    background-color: transparent;
    color: var(--text-color);
    font: inherit;
    position: relative;
    transition: opacity .2s ease;
    opacity: 0;
    box-shadow: none;

    &::selection {
      background: var(--selection-color);
    }
  }

  &:after {
    content: '';
    height: var(--border-width);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--border-color);
    transition: all .2s ease;
  }

  .placeholder {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    font-size: 1em;
    font-family: sans-serif;

    color: var(--placeholder-color);
    transition: transform .2s ease, color .2s ease;
    transform-origin: left center;
    transform: translateZ(0);
    pointer-events: none;
  }

  &.has-value .placeholder,
  &.focus .placeholder {
    transform: translate(0, -1.3em) scale(.8) translateZ(0);
  }

  &.has-value .input,
  &.focus .input {
    opacity: 1;
    transition-delay: .15s;
  }

}

.mn-input.focus {
  --border-width: 2px;
  --border-color: $oc-gray-8;
}

.mn-input[disabled] {
  --text-color: $oc-gray-6;
  --border-color: $oc-gray-3;
  --placeholder-color: $oc-gray-5;

  .input {
    cursor: not-allowed;
  }

  .placeholder:after {
    content: ' disabled';
  }
}

.mn-input.invalid {
  --placeholder-color: $oc-red-7 !important;
  --border-color: $oc-red-6 !important;

  .placeholder:after {
    content: var(--invalid-message);
  }

  &.required {--invalid-message: ' is required'}
}
