@import '../webcomponents/input/input.style.scss';
@import '../webcomponents/password/password.style.scss';
@import '../webcomponents/number/number.style.scss';
@import '../webcomponents/date/date.style.scss';
@import '../webcomponents/backdrop/backdrop.style.scss';
@import '../webcomponents/card/card.style.scss';
@import '../webcomponents/action-sheet/action-sheet.style.scss';
@import '../webcomponents/select/select.style.scss';
@import '../webcomponents/sidenav/sidenav.style.scss';
@import '../webcomponents/checkbox/checkbox.style.scss';
@import '../webcomponents/radio/radio.style.scss';
@import '../webcomponents/dialog/dialog.style.scss';
@import '../webcomponents/button/button.style.scss';
@import '../webcomponents/layout/layout.style.scss';
@import '../webcomponents/list/list.style.scss';
@import '../webcomponents/search/search.style.scss';
@import '../webcomponents/chip/chip.style.scss';

@import 'identity/typography.scss';
@import 'identity/logotype.scss';
@import 'identity/background.scss';
@import 'identity/home.scss';
@import 'identity/demo.scss';
