html
  head
    title minimalist
    meta(name='viewport' content='width=device-width, user-scalable=no')

    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.5/angular-resource.js')

    link(rel='stylesheet' href='/vendor.css')

  body
    include pages/home

    //- section.tabs.mn-layout-container-full
      mn-radio(placeholder='mn-button' name='tab' checked)
      mn-radio(placeholder='mn-layout' name='tab')
      mn-radio(placeholder='mn-card' name='tab')
      mn-radio(placeholder='mn-sidenav' name='tab')
      mn-radio(placeholder='mn-dialog' name='tab')
      mn-radio(placeholder='mn-list' name='tab')
      mn-radio(placeholder='mn-form' name='tab')
      mn-radio(placeholder='mn-input' name='tab')
      mn-radio(placeholder='mn-email' name='tab')
      mn-radio(placeholder='mn-number' name='tab')
      mn-radio(placeholder='mn-password' name='tab')
      mn-radio(placeholder='mn-date' name='tab')
      mn-radio(placeholder='mn-radio' name='tab')
      mn-radio(placeholder='mn-checkbox' name='tab')
      mn-radio(placeholder='mn-select' name='tab')
      mn-radio(placeholder='mn-search' name='tab')
      mn-radio(placeholder='mn-hidden' name='tab')

    //- include pages/button
    section.mn-layout-container(style='margin-bottom: 2em')
      h3(style='color: white') vanilla
      mn-list.mn-card(name='lero')
        .mn-item(draggable) restricao 1
        .mn-item(draggable) restricao 2
        .mn-item(draggable) restricao 3
        .mn-item(collapse draggable) restricao 4 (folder)
          .mn-layout-row
            mn-list.mn-item-detail(name='lero')
              .mn-item(collapse draggable) sub restriction 1 (folder)
                mn-list.mn-item-detail(name='lero')
                  .mn-item(draggable) subsub restriction 1
                  .mn-item(draggable) subsub restriction 2
              .mn-item(draggable) sub restriction 2
        .mn-item(collapse draggable) restricao 5 (empty folder)
          mn-list(name='lero')

      h3(style='color: white') other vanilla list
      mn-list.mn-card(name='lero')
        .mn-item(draggable) rest 1
        .mn-item(draggable collapse) folder 2
          mn-list.mn-item-detail
            .mn-item(draggable) rest 2
            .mn-item(draggable) rest 3

    section.mn-layout-container(ng-app='app' ng-controller='HomeController as home' style='margin-bottom: 2em')
      h3(style='color: white') angular {{ home.list2 }}
      mn-list.mn-card(name='angularGroup')
        .mn-item(ng-repeat='item in home.list2 track by $index' draggable) {{ item }}
        //- .mn-item(ng-repeat='item in home.houses.restricoes' restricoes='item')

      h3(style='color: white') other list angular {{ home.list }}
      mn-list.mn-card(name='angularGroup')
        .mn-item(ng-repeat='item in home.list' draggable) {{ item }}
        //- .mn-item(draggable) lero 1
        //- .mn-item lero 3
      //- .mn-card.padding
        mn-form(submit='home.submit()')
          .mn-layout-column
            p {{ home }}
          .mn-layout-column.flex
            mn-input.flex(placeholder='Name' required ng-model='home.name')
            //- mn-input.flex(placeholder='Houses' required ng-model='home.houses' multiple)
            mn-number.flex(placeholder='Number' required ng-model='home.number' ng-if='home.name')
            mn-number.flex(placeholder='Numbers' required ng-model='home.numbers' multiple)
            mn-select.flex(placeholder='Selecione' required ng-model='home.options' multiple)
              option lorem
              option ipsum
            mn-search.flex.houses(placeholder='Houses' required ng-model='home.houses' multiple)
          .mn-layout-row.align-end
            mn-button(reset) reset
            mn-button(empty) empty
            mn-button.raised(submit) submit

      h3(style='color: white') angular restrictions {{ home.restrictions | key: 'nome' }}

      script(type='text/ng-template' id='restriction.template')
        .mn-item(ng-repeat='restriction in $mnListModel' draggable ng-collapse='restriction.restricoes')
          | {{ restriction.nome }} {{ (restriction.restricoes ? '(folder)' : '') }}
          mn-list(name='restrictions' ng-model='restriction.restricoes' ng-if='restriction.restricoes' ng-include='"restriction.template"')
          //- ng-init='restrictions = restriction.restricoes'

      mn-list.mn-card(name='restrictions'
        ng-model='home.restrictions'
        ng-include='"restriction.template"')

      //- mn-list.mn-card(name='restrictions')
        .mn-item(ng-repeat='restriction in home.restrictions' draggable ng-collapse='restriction.restricoes')
          | {{ restriction.nome }} {{ (restriction.restricoes ? '(folder)' : '') }}
          mn-list(name='restrictions' ng-if='restriction.restricoes')
            .mn-item(ng-repeat='item in restriction.restricoes' draggable) {{ item.nome }}

    script(src='/vendor.js')
    script.
      const form = document.querySelector('mn-form')
      const number = document.querySelector('mn-number[placeholder="Number"]')
      const numbers = document.querySelector('mn-number[placeholder="Numbers"]')
