extends template

block content
  .home.showcase.mn-layout.mn-layout-fullscreen.mn-layout-centered
    h2.logotype minimalist-ui
    #typed
      | webcomponents ready to
      .text
    div
      mn-input-text(label='Family' value='darlan' name='family' multiple)

