html
  head
    title minimalist
    meta(name='viewport' content='width=device-width, user-scalable=no')

    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.5/angular-resource.js')

    link(rel='stylesheet' href='/vendor.css')

  body(ng-app='app')
    include pages/home

    //- section.tabs.mn-layout-container-full
      mn-radio(placeholder='mn-button' name='tab' checked)
      mn-radio(placeholder='mn-layout' name='tab')
      mn-radio(placeholder='mn-card' name='tab')
      mn-radio(placeholder='mn-sidenav' name='tab')
      mn-radio(placeholder='mn-dialog' name='tab')
      mn-radio(placeholder='mn-list' name='tab')
      mn-radio(placeholder='mn-form' name='tab')
      mn-radio(placeholder='mn-input' name='tab')
      mn-radio(placeholder='mn-email' name='tab')
      mn-radio(placeholder='mn-number' name='tab')
      mn-radio(placeholder='mn-password' name='tab')
      mn-radio(placeholder='mn-date' name='tab')
      mn-radio(placeholder='mn-radio' name='tab')
      mn-radio(placeholder='mn-checkbox' name='tab')
      mn-radio(placeholder='mn-select' name='tab')
      mn-radio(placeholder='mn-search' name='tab')
      mn-radio(placeholder='mn-hidden' name='tab')

    //- include pages/button

    section.mn-layout-container(ng-controller='HomeController as home' style='margin-bottom: 2em')
      .mn-card.mn-list
        .mn-item lero 1
        .mn-item.detail-visible(collapse) lero 2
          //- .mn-list.mn-item-detail
            .mn-item lorem 1
            .mn-item lorem 2
        .mn-item lero 3
      //- .mn-card.padding
        mn-form(submit='home.submit()')
          .mn-layout-column
            p {{ home }}
          .mn-layout-column.flex
            mn-input.flex(placeholder='Name' required ng-model='home.name')
            //- mn-input.flex(placeholder='Houses' required ng-model='home.houses' multiple)
            mn-number.flex(placeholder='Number' required ng-model='home.number' ng-if='home.name')
            mn-number.flex(placeholder='Numbers' required ng-model='home.numbers' multiple)
            mn-select.flex(placeholder='Selecione' required ng-model='home.options' multiple)
              option lorem
              option ipsum
            mn-search.flex.houses(placeholder='Houses' required ng-model='home.houses' multiple)
          .mn-layout-row.align-end
            mn-button(reset) reset
            mn-button(empty) empty
            mn-button.raised(submit) submit

    script(src='/vendor.js')
    script.
      const form = document.querySelector('mn-form')
      const number = document.querySelector('mn-number[placeholder="Number"]')
      const numbers = document.querySelector('mn-number[placeholder="Numbers"]')
