html
  head
    title minimalist
    meta(name='viewport' content='width=device-width, user-scalable=no')
    base(href='https://darlanmendonca.github.io/minimalist/')
    script.
      const base = document.querySelector('base')
      const isLocalhost = location.hostname === 'localhost'

      if (isLocalhost)
        base.href = '/'

    link(rel='stylesheet' href='vendor.css')
    //- script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js')
    //- script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.5/angular-resource.js')


  body
    include assets/github-corner

    block content
    script(src='vendor.js')

