html
  head
    title minimalist-ui
    meta(name='viewport' content='width=device-width, user-scalable=no')
    base(href='https://darlanmendonca.github.io/minimalist/')
    script.
      const base = document.querySelector('base')
      const isLocalhost = location.hostname === 'localhost'

      if (isLocalhost)
        base.href = '/'

    link(rel='stylesheet' href='vendor.css')
    link(rel='stylesheet' href='app.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')

  body
    include assets/github-corner
    include assets/menu

    block content

