.mn-sidenav {
  width: 320px;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: 20;
  transform: translate3d(-100%, 0, 0);
  will-change: transform;
  transition: transform .32s ease;
  border-radius: 0 !important;
  overflow: auto;

  &.visible {
    transform: translate3d(0, 0, 0) !important;
  }

  &.left, &:not(.right) {
    left: 0;
    transform: translate3d(-100%, 0, 0);
  }

  &.right {
    right: 0;
    transform: translate3d(100%, 0, 0);
  }
}
