@import '../../node_modules/open-color/open-color.scss';

.tabs {
  overflow: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 1em;

  &::-webkit-scrollbar {
    height: 0px;
  }
}

.mn-radio {
  --color: $oc-orange-5;
  color: $oc-gray-7;

  &[checked]:before {
    color: $oc-gray-9;
  }
}
