.docs {
  .mn-code + .mn-section {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .mn-section + .mn-code {
    margin-top: -1em;
  }

  a[name][href] {
    text-decoration: none;
    color: inherit;
  }
}
