nav.header {
  position: absolute;
  left: 1em;
  top: 1em;
  z-index: 10;

  a + a {
    margin-left: 1em;
    position: relative;

    &:before {
      content: '/';
      position: relative;
      left: -.5em;
    }
  }
}
