@import 'node_modules/open-color/open-color.scss';

.logotype {
  font-family: helvetica;
  font-weight: 100;
  color: transparent;
  background: linear-gradient(135deg, #6420b3, #02c9c9);
  -webkit-background-clip: text;
  user-select: none;

  @media (max-device-width: 480px) {
    -webkit-text-fill-color: $oc-gray-7;
  }

  small {
    font-size: .5em;
    display: block;
  }
}
