@import '../../node_modules/open-color/open-color.scss';

.logotype {
  font-family: helvetica;
  font-weight: 100;
  color: transparent;
  background: linear-gradient(45deg, $oc-orange-5, $oc-yellow-4);
  -webkit-background-clip: text;
  user-select: none;
  display: table;

  @media (max-device-width: 480px) {
    -webkit-text-fill-color: $oc-orange-4;
  }

  small {
    font-size: .5em;
    display: block;
  }
}
