#typed {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  user-select: none;

  .text {
    display: inline-block;
    min-height: 2em;
    margin-left: .25em;
  }
}

.ityped-cursor {
  transform: translateY(-.17em);
  font-size: 1.5em;
  opacity: 1;
  animation: blink .35s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {opacity: 0}
}
