#typed {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  user-select: none;

  .text {
    display: inline-block;
    min-height: 2em;
    margin-left: .25em;
  }
}

.ityped-cursor {
  font-size: inherit;
  opacity: 1;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes blink {
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}

@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}
