.mn-password {
  --button-color: #868e96;
  --button-show-text: 'show';
  --button-hide-text: 'hide';

  button {
    border: 0;
    background: none;
    text-transform: uppercase;
    font-size: .6em;
    color: var(--button-color);
    outline: 0;

    &:before {
      content: var(--button-show-text)
    }
  }

  &.show-password button:before {
    content: var(--button-hide-text);
  }
}
