header
  mn-button.action(show-sidenav="menu"): i.zmdi.zmdi-menu
  mn-sidenav.left.padding#menu
    mn-input-text(name='search' label='search' autofocus)

    mn-button button
    mn-button backdrop
    mn-button dialog
    mn-button form
    mn-button input text
    mn-button input password
    mn-button input email
    mn-button input number
    mn-button layout
    mn-button section
    mn-button sidenav
