header
  mn-button.action(show-sidenav='menu'): i.zmdi.zmdi-menu
  mn-sidenav.left.padding#menu
    //- mn-input-text(name='search' label='search' autofocus)

    a.mn-button(href='/' hide-sidenav) home
    //- mn-button(hide-sidenav) button
    //- mn-button(hide-sidenav) backdrop
    //- mn-button(hide-sidenav) dialog
    //- mn-button(hide-sidenav) form
    a.mn-button(href='/input-text' hide-sidenav) input text
    //- mn-button(hide-sidenav) input password
    //- mn-button(hide-sidenav) input email
    //- mn-button(hide-sidenav) input number
    //- mn-button(hide-sidenav) layout
    //- mn-button(hide-sidenav) section
    //- mn-button(hide-sidenav) sidenav
