header.main-header
  mn-button.action(show-sidenav='menu'): i.zmdi.zmdi-menu
  mn-sidenav.left.padding#menu
    //- mn-input-text(name='search' label='search' autofocus)

    a.mn-button(href='/' hide-sidenav) home
    a.mn-button(href='/button' hide-sidenav) button
    //- mn-button(hide-sidenav) backdrop
    a.mn-button(href='/dialog' hide-sidenav) dialog
    a.mn-button(href='/image' hide-sidenav) image
    //- mn-button(hide-sidenav) form
    a.mn-button(href='/input-text' hide-sidenav) input text
    a.mn-button(href='/input-password' hide-sidenav) input password
    //- mn-button(hide-sidenav) input password
    //- mn-button(hide-sidenav) input email
    //- mn-button(hide-sidenav) input number
    //- mn-button(hide-sidenav) layout
    //- mn-button(hide-sidenav) section
    a.mn-button(href='/sidenav' hide-sidenav) sidenav
